/* color */

$main-color: #9ed0e0;

$sub-color01: #67b0c7;
$sub-color02: #cce1e4;
$sub-color03: #e9f6f8;

$accent-color01: #ce2073;
$accent-color02: #ffee56;

$monochrome-color01: #4a3636;
$monochrome-color02: #cccccc;
$monochrome-color03: #f5f5f5;
$monochrome-color04: #ffffff;

/* font */
$font-family-ja01: "Noto Sans JP", sans-serif;
$font-family-ja02: "Kiwi Maru", serif;

$font-family-en01: "Courgette", cursive;
$font-family-en02: "Josefin Sans", sans-serif;

$lh-base: 1.6;
$fw-base: 400;
$fw-bold: 700;

/* inner */
$width-inner-md: 1024px;
$width-inner-sp: 375px;


/* break points */
